.news {
    padding-bottom: 60px;
}

.news__col {
    max-width: 555px;
}

.news__title {
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    color: #00519C;
    text-align: center;
    padding-bottom: 23px;
}

.news__items {
    display: flex;
    justify-content: center;
}

.news__item {
    min-height: 196px;
    background: #EDF8FF;
    border-radius: 10px;
    padding: 30px 15px 0 23px;
    margin-bottom: 20px;
}

.news__item-title {
    padding-bottom: 16px;
    font-weight: normal;
    font-size: 22px;
    line-height: 24px;
    /* or 109% */
    color: #00519C;
}

.news__item-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    color: #000000;
}